In [1]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
Obesity_df = pd.read_csv("obesity_data.csv")
Obesity_df.head()

,Age,Gender,Height,Weight,BMI,PhysicalActivityLevel,ObesityCategory
0,56,Male,173.575262,71.982051,23.891783,4,Normal weight
1,69,Male,164.127306,89.959256,33.395209,2,Obese
2,46,Female,168.072202,72.930629,25.817737,4,Overweight
3,32,Male,168.459633,84.886912,29.912247,3,Overweight
4,60,Male,183.568568,69.038945,20.487903,3,Normal weight

In [3]:
Obesity_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Age                    1000 non-null   int64
 1   Gender                 1000 non-null   object
 2   Height                 1000 non-null   float64
 3   Weight                 1000 non-null   float64
 4   BMI                    1000 non-null   float64
 5   PhysicalActivityLevel  1000 non-null   int64
 6   ObesityCategory        1000 non-null   object
dtypes: float64(3), int64(2), object(2)
memory usage: 54.8+ KB

In [4]:
Obesity_df["ObesityCategory"].value_counts()

ObesityCategory
Normal weight    371
Overweight       295
Obese            191
Underweight      143
Name: count, dtype: int64

In [45]:
shuffled_Obesity_df = Obesity_df.sample(frac=1)
shuffled_Obesity_df

,Age,Gender,Height,Weight,BMI,PhysicalActivityLevel,ObesityCategory
879,67,Male,167.645844,76.129979,27.087575,1,Overweight
262,49,Female,172.306409,57.532452,19.378048,3,Normal weight
353,47,Female,156.651962,61.841922,25.200625,2,Overweight
535,31,Female,171.420509,62.943867,21.420414,3,Normal weight
578,64,Male,174.575373,68.250551,22.394440,4,Normal weight
...,...,...,...,...,...,...,...
349,42,Male,177.528757,72.977280,23.155291,1,Normal weight
251,26,Male,174.393028,63.845778,20.992973,2,Normal weight
468,77,Female,156.427448,84.924725,34.706293,3,Obese
890,20,Male,172.436325,68.185573,22.931633,3,Normal weight
753,66,Male,177.348935,94.382010,30.007655,1,Obese

In [46]:
#Lets try to make the labels numerical by assigning numberical Labels Manually
#Lets assign the following Labels
# Normal weight    1
# Overweight       2
# Obese            3
# Underweight      4

# shuffled_Obesity_df.iloc[0]["ObesityCategory"]
for i in range(1000):
    if shuffled_Obesity_df.loc[i, "ObesityCategory"] == "Normal weight":
        shuffled_Obesity_df.loc[i, "ObesityCategory"] = 1
    elif shuffled_Obesity_df.loc[i, "ObesityCategory"] == "Overweight":
        shuffled_Obesity_df.loc[i, "ObesityCategory"] = 2
    elif shuffled_Obesity_df.loc[i, "ObesityCategory"] == "Obese":
        shuffled_Obesity_df.loc[i, "ObesityCategory"] = 3
    else:
        shuffled_Obesity_df.loc[i, "ObesityCategory"] = 4

In [47]:
shuffled_Obesity_df.head()

,Age,Gender,Height,Weight,BMI,PhysicalActivityLevel,ObesityCategory
879,67,Male,167.645844,76.129979,27.087575,1,2
262,49,Female,172.306409,57.532452,19.378048,3,1
353,47,Female,156.651962,61.841922,25.200625,2,2
535,31,Female,171.420509,62.943867,21.420414,3,1
578,64,Male,174.575373,68.250551,22.394440,4,1

In [48]:
shuffled_Obesity_df["ObesityCategory"].value_counts()

ObesityCategory
1    371
2    295
3    191
4    143
Name: count, dtype: int64

In [49]:
shuffled_Obesity_df.isna().value_counts()

Age    Gender  Height  Weight  BMI    PhysicalActivityLevel  ObesityCategory
False  False   False   False   False  False                  False              1000
Name: count, dtype: int64

In [56]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder


np.random.seed(27)

x = shuffled_Obesity_df.drop("ObesityCategory",axis=1)
y = shuffled_Obesity_df["ObesityCategory"]

x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2)

categorical_columns = ["Gender" , "PhysicalActivityLevel"]

one_hot = OneHotEncoder()

transformer = ColumnTransformer([("one_hot",
                                one_hot,
                                categorical_columns)],
                                remainder='passthrough')

transformed_X_train = transformer.fit_transform(x_train)
transformed_X_test = transformer.transform(x_test)

label_encoder = LabelEncoder()
transformed_y_train = label_encoder.fit_transform(y_train)
transformed_y_test = label_encoder.transform(y_test)

model = RandomForestClassifier(n_estimators=100)

model.fit(
    transformed_X_train,
    transformed_y_train
)

RandomForestClassifier()

In [97]:
shuffled_Obesity_df["PhysicalActivityLevel"] = shuffled_Obesity_df["PhysicalActivityLevel"].astype(object)
dummies = pd.get_dummies(data=shuffled_Obesity_df[["Gender" , "PhysicalActivityLevel","ObesityCategory"]],
                         dtype=float)
shuffled_Obesity_df["Gender_Female"] = dummies["Gender_Female"]
shuffled_Obesity_df["Gender_Male"] = dummies["Gender_Male"]
shuffled_Obesity_df["PhysicalActivityLevel_1"] = dummies["PhysicalActivityLevel_1"]
shuffled_Obesity_df["PhysicalActivityLevel_2"] = dummies["PhysicalActivityLevel_2"]
shuffled_Obesity_df["PhysicalActivityLevel_3"] = dummies["PhysicalActivityLevel_3"]
shuffled_Obesity_df["PhysicalActivityLevel_4"] = dummies["PhysicalActivityLevel_4"]
shuffled_Obesity_df["ObesityCategory_1"] = dummies["ObesityCategory_1"]
shuffled_Obesity_df["ObesityCategory_2"] = dummies["ObesityCategory_2"]
shuffled_Obesity_df["ObesityCategory_3"] = dummies["ObesityCategory_3"]
shuffled_Obesity_df["ObesityCategory_4"] = dummies["ObesityCategory_4"]

In [98]:
shuffled_Obesity_df

,Age,Gender,Height,Weight,BMI,PhysicalActivityLevel,ObesityCategory,Gender_Female,Gender_Male,PhysicalActivityLevel_1,PhysicalActivityLevel_2,PhysicalActivityLevel_3,PhysicalActivityLevel_4,ObesityCategory_1,ObesityCategory_2,ObesityCategory_3,ObesityCategory_4
879,67,Male,167.645844,76.129979,27.087575,1,2,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
262,49,Female,172.306409,57.532452,19.378048,3,1,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
353,47,Female,156.651962,61.841922,25.200625,2,2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
535,31,Female,171.420509,62.943867,21.420414,3,1,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
578,64,Male,174.575373,68.250551,22.394440,4,1,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,42,Male,177.528757,72.977280,23.155291,1,1,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
251,26,Male,174.393028,63.845778,20.992973,2,1,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
468,77,Female,156.427448,84.924725,34.706293,3,3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
890,20,Male,172.436325,68.185573,22.931633,3,1,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
753,66,Male,177.348935,94.382010,30.007655,1,3,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [96]:
dummies

,Gender_Female,Gender_Male,PhysicalActivityLevel_1,PhysicalActivityLevel_2,PhysicalActivityLevel_3,PhysicalActivityLevel_4,ObesityCategory_1,ObesityCategory_2,ObesityCategory_3,ObesityCategory_4
879,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
262,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
353,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
535,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
578,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
349,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
251,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
468,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
890,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
753,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [99]:
shuffled_Obesity_df = shuffled_Obesity_df.drop("Gender",axis=1)
shuffled_Obesity_df = shuffled_Obesity_df.drop("PhysicalActivityLevel",axis=1)
shuffled_Obesity_df = shuffled_Obesity_df.drop("ObesityCategory",axis=1)
shuffled_Obesity_df

,Age,Height,Weight,BMI,Gender_Female,Gender_Male,PhysicalActivityLevel_1,PhysicalActivityLevel_2,PhysicalActivityLevel_3,PhysicalActivityLevel_4,ObesityCategory_1,ObesityCategory_2,ObesityCategory_3,ObesityCategory_4
879,67,167.645844,76.129979,27.087575,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
262,49,172.306409,57.532452,19.378048,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
353,47,156.651962,61.841922,25.200625,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
535,31,171.420509,62.943867,21.420414,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
578,64,174.575373,68.250551,22.394440,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,42,177.528757,72.977280,23.155291,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
251,26,174.393028,63.845778,20.992973,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
468,77,156.427448,84.924725,34.706293,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
890,20,172.436325,68.185573,22.931633,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
753,66,177.348935,94.382010,30.007655,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [103]:
x_new = shuffled_Obesity_df[["Age","Height","Weight","BMI","Gender_Female","Gender_Male","PhysicalActivityLevel_1","PhysicalActivityLevel_2","PhysicalActivityLevel_3","PhysicalActivityLevel_4"]]
x_new

,Age,Height,Weight,BMI,Gender_Female,Gender_Male,PhysicalActivityLevel_1,PhysicalActivityLevel_2,PhysicalActivityLevel_3,PhysicalActivityLevel_4
879,67,167.645844,76.129979,27.087575,0.0,1.0,1.0,0.0,0.0,0.0
262,49,172.306409,57.532452,19.378048,1.0,0.0,0.0,0.0,1.0,0.0
353,47,156.651962,61.841922,25.200625,1.0,0.0,0.0,1.0,0.0,0.0
535,31,171.420509,62.943867,21.420414,1.0,0.0,0.0,0.0,1.0,0.0
578,64,174.575373,68.250551,22.394440,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
349,42,177.528757,72.977280,23.155291,0.0,1.0,1.0,0.0,0.0,0.0
251,26,174.393028,63.845778,20.992973,0.0,1.0,0.0,1.0,0.0,0.0
468,77,156.427448,84.924725,34.706293,1.0,0.0,0.0,0.0,1.0,0.0
890,20,172.436325,68.185573,22.931633,0.0,1.0,0.0,0.0,1.0,0.0
753,66,177.348935,94.382010,30.007655,0.0,1.0,1.0,0.0,0.0,0.0

In [104]:
y_new = shuffled_Obesity_df[["ObesityCategory_1","ObesityCategory_2","ObesityCategory_3","ObesityCategory_4"]]
y_new

,ObesityCategory_1,ObesityCategory_2,ObesityCategory_3,ObesityCategory_4
879,0.0,1.0,0.0,0.0
262,1.0,0.0,0.0,0.0
353,0.0,1.0,0.0,0.0
535,1.0,0.0,0.0,0.0
578,1.0,0.0,0.0,0.0
...,...,...,...,...
349,1.0,0.0,0.0,0.0
251,1.0,0.0,0.0,0.0
468,0.0,0.0,1.0,0.0
890,1.0,0.0,0.0,0.0
753,0.0,0.0,1.0,0.0

In [105]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder


np.random.seed(27)

x_new_train , x_new_test , y_new_train , y_new_test = train_test_split(x_new,y_new,test_size=0.2)



model = RandomForestClassifier(n_estimators=100)

model.fit(
    x_new_train,
    y_new_train
)

RandomForestClassifier()

In [106]:
np.random.seed(27)

model.score(x_new_test,y_new_test)

0.995

In [107]:
np.random.seed(27)

y_new_preds = model.predict(x_new_test)
y_new_preds

array([[0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.]])

In [136]:
def evaluate_preds(y_true: np.array, 
                   y_preds: np.array) -> None:
    """
    Performs evaluation comparison on y_true labels vs. y_pred labels.

    Returns several metrics in the form of a dictionary.
    """
    accuracy = accuracy_score(y_true, y_preds)
    # precision = precision_score(y_true, y_preds)
    # recall = recall_score(y_true, y_preds)
    # f1 = f1_score(y_true, y_preds)
    metric_dict = {"accuracy": round(accuracy, 2),
                   # "precision": round(precision, 2), 
                   # "recall": round(recall, 2),
                   # "f1": round(f1, 2)
                  }
    print(f"Acc: {accuracy * 100:.2f}%")
    # print(f"Precision: {precision:.2f}")
    # print(f"Recall: {recall:.2f}")
    # print(f"F1 score: {f1:.2f}")

In [111]:
from sklearn.metrics import accuracy_score , recall_score , precision_score , f1_score , classification_report , confusion_matrix
from sklearn.model_selection import cross_val_score

print(f"The accuracy of the model is {accuracy_score(y_new_test,y_new_preds)*100:.2f}%")
# print(f"The Precision of the model is {precision_score(y_new_test,y_new_preds):.2f}")
# print(f"The Recall of the model is {recall_score(y_new_test,y_new_preds):.2f}")
# print(f"The F1 Score of the model is {f1_score(y_new_test,y_new_preds):.2f}")
# print(f"The Classification report of the model is: \n\n {classification_report(y_new_test,y_new_preds)}")
# print(f"The Confusion of the model is: \n\n {confusion_matrix(y_new_test,y_new_preds)}")

The accuracy of the model is 99.50%

In [133]:
from joblib import dump,load
best_model_obesity_analysis = "best_model_obesity_analysis.joblib"
dump(model,filename=best_model_obesity_analysis)

['best_model_obesity_analysis.joblib']

In [134]:
loaded_model = load(filename=best_model_obesity_analysis)

In [137]:
np.random.seed(27)
loaded_preds = loaded_model.predict(x_new_test)
evaluate_preds(y_new_test,loaded_preds)

Acc: 99.50%